// .img{
//     POSITION: RELATIVE;
//     LEFT: 10PX;
//     top: -38PX;
//   }
.error-message {
  color: rgb(182, 7, 7);
  font-size: 0.8rem;
  margin-top: 0.25rem;
  font-size: 14px;
}
.center-div {
  width: 60%;
  height: 40px;
  position: RELATIVE;
  top: 11px;
  left: -20px;
  margin: 50px auto;
  text-align: center;
  position: relative;
}
// .center-div {
//   background-color: #F5F5F5;
//   height: 50px;
// }
.card {
  background-color: white;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
  border-radius: 25px;
}
h1 {
  font-family: sans-serif;
  font-weight: bold;
}
button.btn-primary {
  background-color: #393f81;
  color: white;
  border-radius: 25px;
  padding: 10px 20px;
  font-family: sans-serif;
  font-weight: bold;
}
.img-fluid {
  position: RELATIVE;
  left: 13px;
  top: -30px;
  max-width: 100%;
  height: auto;
}
